<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贷款申请表显示</title>
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .el-input__inner{
            width: 240px;
        }
        .el-form-item__content{
            width: 240px;
        }
        .el-table__header{
           text-align: center;
       }
        .el-form-item__label{
            text-align: left;
            width: 80px;
            margin: 0px;
            padding: 0px;
        }
        .el-col{
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
<div id="app">
    <template>
        <el-table
                :data="tableData"
                border
                style="width: 100%">
            <el-table-column
                    prop="ApplyId"
                    label="申请编号"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="loanType1"
                    label="贷款类型"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="loanMoney"
                    label="贷款金额"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="repaymentType1"
                    label="还款类型"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="repaymentId1"
                    label="还款方式"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="loanDeadline"
                    label="贷款期数"
                    width="100">
            </el-table-column>
            <el-table-column
                    label="申请时间"
                    prop="applyTime"
                    width="200">
            </el-table-column>
            <el-table-column
                    label="贷款状态"
                    width="80"
                    prop="loanStatus1">
            </el-table-column>
            <el-table-column label="操作"  >
                <template slot-scope="scope">
                    <el-button type="primary" @click="showList(scope.row.ApplyId)">查询</el-button>
                    <el-button type="primary" @click="showPhoto(scope.row.ApplyId)">查看图片资料</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>

    <!--弹框：查看申请贷款填写的信息-->
    <el-row>
    <el-dialog :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <!--隐藏主键-->
            <el-input v-model="form.applyId" type="hidden" autocomplete="off"></el-input>
            <el-input v-model="form.userId" type="hidden" autocomplete="off"></el-input>
            <el-row :gutter="20">
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-form-item label="贷款类型">
                                <el-input v-model="form.loanType1"  autocomplete="off" disabled></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-form-item label="贷款金额">
                            <el-input v-model="form.loanMoney" autocomplete="off" disabled></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-form-item label="贷款期限">
                            <el-input v-model="form.loanDeadline+'个月'" autocomplete="off" disabled></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-form-item label="担保人姓名">
                            <el-input v-model="form.bondsmanName" autocomplete="off" disabled></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-form-item label="担保人年龄">
                            <el-input v-model="form.bondsmanAge" autocomplete="off" disabled></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="grid-content bg-purple" id="sex">
                        <el-form-item label="担保人性别">
                            <el-input v-model="form.bondsmanSex" autocomplete="off" disabled></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-form-item label="担保人电话">
                            <el-input v-model="form.bondsmanTel" autocomplete="off" disabled></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-form-item label="担保人身份证号">
                            <el-input v-model="form.bondsmanZj" autocomplete="off" disabled></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-form-item label="身份证正面" v-if="form.bondsmanSfzz" :label-width="formLabelWidth">
                            <img v-if="form.bondsmanSfzz" :src="'/demo/apply/show?fileName='+form.bondsmanSfzz" height="150px;" width="180px;" style="margin-left: 0px">
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-form-item label="身份证反面" v-if="form.bondsmanSfzf" :label-width="formLabelWidth">
                            <img v-if="form.bondsmanSfzf" :src="'/demo/apply/show?fileName='+form.bondsmanSfzf" height="150px;" width="180px;">
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-form-item label="担保人家庭住址">
                            <el-input v-model="form.bondsmanAdd" autocomplete="off" disabled></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-form-item label="担保人年收入">
                            <el-input v-model="form.income" autocomplete="off" disabled></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-form-item label="还款方式">
                            <el-input v-model="form.repaymentId1" autocomplete="off" disabled></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-form-item label="还款类型">
                            <el-input v-model="form.repaymentType1" autocomplete="off" disabled></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-form-item label="贷款描述" >
                            <el-input v-model="form.describes" autocomplete="off" disabled></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="grid-content bg-purple">

                    </div>
                </el-col>
            </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="danger" @click="dialogFormVisible = false">返回</el-button>
            <!--<el-button type="primary" @click="saveData">确 定</el-button>-->
        </div>
    </el-dialog>
    </el-row>
    <!--弹框：查看申请贷款上传的图片资料-->
    <el-row>
        <el-dialog :visible.sync="dialogFormVisible1">
            <el-form  :model="photoForm">
                <!--隐藏主键-->
                <div>
                    <h2>贷款资料图片信息</h2>
                </div>
                <el-input v-model="photoForm.id" type="hidden" autocomplete="off"></el-input>
                <el-input v-model="photoForm.applyId" type="hidden" autocomplete="off"></el-input>
                <el-row :gutter="20">
                    <el-col :span="12">
                        <div class="grid-content bg-purple">
                            <el-form-item label="年度报表" v-if="photoForm.ndbbUrl" :label-width="formLabelWidth">
                               <a :href="'ftp://zyf:123456@192.168.11.141/image-serv/'+photoForm.ndbbUrl" target="_blank">
                                   <img v-if="photoForm.ndbbUrl" :src="'/demo/apply/show?fileName='+photoForm.ndbbUrl" height="150px;" width="180px;">
                               </a>
                            </el-form-item>
                        </div>
                    </el-col>
                    <el-col :span="12">
                        <div class="grid-content bg-purple">
                            <el-form-item label="公司章程" v-if="photoForm.gszcUrl" :label-width="formLabelWidth">
                                <img v-if="photoForm.gszcUrl" :src="'/demo/apply/show?fileName='+photoForm.gszcUrl" height="150px;" width="180px;">
                            </el-form-item>
                        </div>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :span="12">
                        <div class="grid-content bg-purple">
                            <el-form-item label="经营场地合同" v-if="photoForm.jycdhtUrl" :label-width="formLabelWidth">
                                <img v-if="photoForm.jycdhtUrl" :src="'/demo/apply/show?fileName='+photoForm.jycdhtUrl" height="150px;" width="180px;">
                            </el-form-item>
                        </div>
                    </el-col>
                    <el-col :span="12">
                        <div class="grid-content bg-purple">
                            <el-form-item label="开户许可证" v-if="photoForm.khxkUrl" :label-width="formLabelWidth">
                                <img v-if="photoForm.khxkUrl" :src="'/demo/apply/show?fileName='+photoForm.khxkUrl" height="150px;" width="180px;">
                            </el-form-item>
                        </div>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :span="12">
                        <div class="grid-content bg-purple">
                            <el-form-item label="税务登记" v-if="photoForm.swdjUrl" :label-width="formLabelWidth">
                                <img v-if="photoForm.swdjUrl" :src="'/demo/apply/show?fileName='+photoForm.swdjUrl" height="150px;" width="180px;">
                            </el-form-item>
                        </div>
                    </el-col>
                    <el-col :span="12">
                        <div class="grid-content bg-purple">
                            <el-form-item label="验资报告" v-if="photoForm.yzbjUrl" :label-width="formLabelWidth">
                                <img v-if="photoForm.yzbjUrl" :src="'/demo/apply/show?fileName='+photoForm.yzbjUrl" height="150px;" width="180px;">
                            </el-form-item>
                        </div>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :span="12">
                        <div class="grid-content bg-purple">
                            <el-form-item label="组织机构代码" v-if="photoForm.zzjgdmUrl" :label-width="formLabelWidth">
                                <img v-if="photoForm.zzjgdmUrl" :src="'/demo/apply/show?fileName='+photoForm.zzjgdmUrl" height="200px;" width="200px;">
                            </el-form-item>
                        </div>
                    </el-col>
                    <el-col :span="12"><div class="grid-content bg-purple"></div></el-col>
                </el-row>
            </el-form>
            <div id="footer" slot="footer" class="dialog-footer">
                <el-button id="close" type="danger" @click="dialogFormVisible1 = false">返回</el-button>
            </div>
        </el-dialog>
    </el-row>
</div>

<script>
    var vue=new Vue({
        el:"#app",
        data:{
            form:{
                userId:'',
                loanType1:'',
                loanMoney:'',
                loanDeadline:'',
                repaymentId1:'',
                repaymentType1:'',
                bondsmanName:'',
                bondsmanAge:'',
                bondsmanSex:'',
                bondsmanTel:'',
                bondsmanZj:'',
                bondsmanSfzz:'',
                bondsmanSfzf:'',
                bondsmanAdd:'',
                income:'',
                describes:'',
                loanStatus:'1'
            },
            photoForm:{
                ndbbUrl:'',
                gszcUrl:'',
                jycdhtUrl:'',
                khxkUrl:'',
                swdjUrl:'',
                yzbjUrl:'',
                zzjgdmUrl:''
            },
            tableData: [],
            dialogFormVisible:false,
            dialogFormVisible1:false,
            formLabelWidth:'130px',
            url:''
        },
        created:function(){
            this.getUserId();
        },
        methods: {
            loadApply:function(){
                var self= this;
                axios.post('/demo/apply/selectByUserId',{userId:self.form.userId})
                    .then(function (response) {
                        //添加或者修改成功
                        self.tableData=response.data;
                    });
            },
            showList:function(applyId){
                var self=this;
                axios.post('/demo/apply/selectById',{applyId:applyId})
                    .then(function (response) {
                        self.form=response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                        // always executed
                    });
                this.url = "/demo/apply/show";
                //让弹出框显示
                this.dialogFormVisible = true;
            },
            showPhoto:function(applyId){
                var self=this;
                axios.post('/demo/uploadZj/selectByApplyId',{applyId:applyId})
                    .then(function (response) {
                        self.photoForm=response.data.photo;
                        if(self.photoForm!=null&&self.photoForm!=''){
                            self.url = "/demo/apply/show";
                            //让弹出框显示
                            self.dialogFormVisible1 = true;
                        }else {
                            self.$message.error('没有上传图片');
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        this.dialogFormVisible1=false;
                    })
                    .then(function () {
                        // always executed
                    });
            },
            getUserId:function () {
                var self=this;
                axios.post('/demo/apply/getUserId').then(function (response){
                    self.form.userId=response.data.id;
                    //在该函数中调用loadApply(),避免异步请求造成的不等待使取得的值为空
                    self.loadApply();
                });
            }
        }

    });
</script>
</body>
</html>