<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司信息</title>
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .demo-table-expand {font-size: 0;}  .demo-table-expand label {width: 90px;color: #99a9bf;}  .demo-table-expand .el-form-item {margin-right: 0;margin-bottom: 0;width: 50%;}
    </style>
</head>
<body>


<div id="app">
    <template>
            <span class="demonstration">时间段订单快捷查询：</span>
            <el-date-picker
                    value-format="yyyy-MM-dd"
                    v-model="value2"
                    type="datetimerange"
                    :picker-options="pickerOptions"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    align="right">
            </el-date-picker>
    </template>
    <el-button type="primary" @click="onSubmit">查询</el-button>
    <el-button type="primary" @click="flush">刷新</el-button>
    <template>
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    label="订单编号"
                    prop="P_id" >
            </el-table-column>
            <el-table-column
                    label="贷款ID"
                    prop="loanid">
            </el-table-column>
            <el-table-column
                    label="资金变动类型"
                    prop="dictionary_name">
            </el-table-column>
            <el-table-column
                    label="变动金额"
                    prop="changemoney">
            </el-table-column>
            <el-table-column
                    label="变动时间"
                    prop="change_time" >
            </el-table-column>
            <el-table-column
                    label="可用资金"
                    prop="availmoney">
            </el-table-column>
            <el-table-column
                    label="描述"
                    prop="describes">
            </el-table-column>
        </el-table>
    </template>
    <el-row>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[2,3,4,5,10,15,100, 200, 300, 400]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </el-row>
</div>
<script>
    var vue = new Vue({
        el: "#app",
        data: {
            tableData: [],
            pageSize:10,
            total:0,
            currentPage:1,
            show:false,
            value2:'',
            pickerOptions:{},

            formInline: {

            },
            // 弹窗初始状态
            dialogFormVisible: false,
            form: {

            }
        },
        created: function () {
            this.loadData();
        },
        methods: {
            loadData: function () {
                var self = this;
                //开始位置  (currentPage-1)*pageSize
                var start = (this.currentPage - 1) * this.pageSize;
                axios.post('/demo/platform/page', {
                    start:start, pageSize: this.pageSize,
                    beginTime:(this.value2)[0],
                    endTime:(this.value2)[1]
                }).then(function (response) {
                        // handle success
                        console.log(response);
                        //JSON.stringify  把json对象转换为json字符串
                        console.log(JSON.stringify(response.data));
                        //JSON.parse()把json字符串转换为json对象
                        console.log(response);
                        self.tableData = response.data.platformList;
                        self.total = response.data.total;
                    }).catch(function (error) {
                        // handle error
                        console.log(error);
                    }).then(function () {
                        // always executed
                    });
            },



            handleSizeChange: function (val) {
                console.log('每页条数:' + val);
                this.pageSize = val;
                this.loadData();
            },
            handleCurrentChange: function (val) {
                console.log('当前页:' + val);
                this.currentPage = val;
                this.loadData();
            },
            onSubmit: function () {
                console.log('submit!');
                this.loadData();
            },

            flush: function () {
                this.pageSize = 3;
                this.currentPage = 1;
                this.value2='';
                this.loadData()
            },
            data:function() {
                return {
                    value2: []
                };
            }
        }
    });
</script>
</body>
</html>