<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台布局Test</title>
    <link rel="stylesheet" href="/demo/layui/css/layui.css">
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/demo/layui/layui.js"></script>
    <style>
        .el-header, .el-footer {
            background-color: #92B8B1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }
        .el-aside {
            color: #333;
            text-align: center;
            line-height: 26px;
            height: 650px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            line-height: 26px;
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" style="height: 50px ">
        <div class="layui-logo">中兴贷款布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1564652033453&di=63d3acf07972bc22a0d1cd7c378cd359&imgtype=0&src=http%3A%2F%2Feladies.sina.com.cn%2Ftravel%2Fxiuxian%2F1999-9-13%2F9999_tupian1.jpg" class="layui-nav-img">
                    评生
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">注销</a></li>
        </ul>
    </div>


    <div  id="app">
            <el-container>
                <el-aside width="140px">
                    <el-tree :data="treeData" default-expand-all   @node-click="handleNodeClick"></el-tree>
                </el-aside>

                <el-main>
                    <el-tabs v-model="editableTabsValue" type="card" closable @tab-remove="removeTab">
                        <el-tab-pane
                                v-for="(item, index) in editableTabs"
                                :key="item.name"
                                :label="item.title"
                                :name="item.name"
                        >
                            <iframe width="100%" style="border: 0px;" height="710px;" :src="item.url"></iframe>
                        </el-tab-pane>
                    </el-tabs>
                </el-main>
            </el-container>
    </div>

</div>
<script>
    var vue =new Vue({
        el:"#app",
        data:{
            treeData:[],
            editableTabsValue: '1',
            editableTabs: [{
                title: '首页',
                name: '1',
                // content: '<iframe src="https://www.baidu.com">'
                url:'https://www.jd.com/'
            }],
            tabIndex: 1
        },
        //创建窗口
        created:function(){
            var self=this;
            axios.post("/demo/power/tree", this.form)
                .then(function (response) {
                    self.treeData=response.data;
                })
        },
        //对url进行判断
        methods: {
            handleNodeClick: function (data) {
                if (data.url != null && data.url != 'null' && data.url != '' && data.url != 'undefined') {
                    //  console.log(JSON.stringify(data));
                    this.addTab(data.label,data.url);
                }
            },
            //增加窗口
            addTab: function (targetName,url) {
                var oldTabs = JSON.stringify(this.editableTabs);
                //  var newTabName = ++this.tabIndex + '';
                if(oldTabs.indexOf(targetName)==-1) {
                    this.editableTabs.push({
                        title: targetName,
                        name: targetName,
                        //content: 'New Tab content'
                        url: url
                    });
                }
                this.editableTabsValue = targetName;
            },
            //删除窗口
            removeTab: function (targetName) {
                var tabs = this.editableTabs;
                var activeName = this.editableTabsValue;
                if (activeName === targetName) {
                    tabs.forEach(function (tab, index) {
                        if (tab.name === targetName) {
                            var nextTab = tabs[index + 1] || tabs[index - 1];
                            if (nextTab) {
                                activeName = nextTab.name;
                            }
                        }
                    });
                }
                this.editableTabsValue = activeName;
                this.editableTabs = tabs.filter(tab => tab.name !== targetName);
            }
        }
    });
</script>


</body>
</html>