<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>法人信息</title>
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: black;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            background-color: gainsboro;
            width: 240px;
            height: 180px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 240px;
            height: 180px;
            display: block;
        }
        #app{
            margin: 0 auto;
            width: 750px;
            height: 100%;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-form ref="form" :label-position="left" :inline="true" label-width="120px" :model="sizeForm" label-width="80px" size="medium">
            <el-title><h4 style="text-align: center">完善法人信息</h4></el-title>
            <el-row>
                <el-form-item label="姓名">
                    <el-input v-model="form.lawPerson" :span="30"></el-input>
                </el-form-item>
                <el-form-item label="性别">
                    <el-input v-model="form.lawSex" :span="30"></el-input>
                </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="年龄">
                    <el-input v-model="form.lawAge" :span="30"></el-input>
                </el-form-item>
                <el-form-item label="电话">
                    <el-input v-model="form.lawTel" :span="30"></el-input>
                </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="身份证号">
                    <el-input v-model="form.lawZj" :span="30"></el-input>
                </el-form-item>
                <el-form-item label="家庭地址">
                    <el-input v-model="form.houseAddress" :span="30"></el-input>
                </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="学历">
                    <el-input v-model="form.education" :span="30"></el-input>
                </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="身份证正面" >
                    <el-upload
                            name="lawSfzz"
                            class="avatar-uploader"
                            action="/demo/lawperson/uploadlawSfzz"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="lawSfzz1" :src="lawSfzz1" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
                <el-form-item label="身份证反面" >
                    <el-upload
                            name="lawSfzf"
                            class="avatar-uploader"
                            action="/demo/lawperson/uploadlawSfzf"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess1"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="lawSfzf1" :src="lawSfzf1" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
            </el-row>
            <div style="text-align: center">
                <el-form-item>
                    <el-button v-if="showbutton==1" type="primary" @click="onSubmit">完善信息</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button v-if="showbutton==2" type="primary" @click="updateLawInfo">确认修改</el-button>
                </el-form-item>
            </div>
        </el-form>
    </el-container>
</div>
<script>
    var vue=new Vue( {
        el:"#app",
        data: {
            form: {
                userName:'',
                lawPerson: '',
                lawSex: '',
                lawAge: '',
                lawTel:'',
                lawZj:'',
                houseAddress:'',
                education:'',
                lawSfzz: '',
                lawSfzf: ''
            },
            lawSfzz1:'',
            lawSfzf1:'',
            showbutton:0
        },
        created:function(){
            this.getUserName();
            this.selectLawInfo();
        },
        methods: {
            //提交表单
            onSubmit:function() {
                var self=this;
                axios.post("/demo/lawperson/lawInfo1",this.form)
                    .then(function (response) {
                        //添加或者修改成功
                        if(response.data>0){
                            self.$message({
                                message:'恭喜你，操作成功！',
                                type:'success',
                            });
                            self.showbutton=2;
                        }else{
                            //添加或者修改错误
                            self.$message.error('错了哦，操作错误');
                        }
                    });
            },
            //获取当前登陆的用户名
            getUserName:function(){
                var self=this;
                axios.post("/demo/apply/getUserId")
                    .then(function (response) {
                        self.form.userName=response.data.username;
                    });
            },
            beforeAvatarUpload:function(file) {
                var isJPG = file.type === 'image/jpeg';
                var isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },
            handleAvatarSuccess:function(res, file) {
                this.lawSfzz1 = URL.createObjectURL(file.raw);
                this.form.lawSfzz =file.response.newFileName;
            },
            handleAvatarSuccess1:function(res, file) {
                this.lawSfzf1 = URL.createObjectURL(file.raw);
                this.form.lawSfzf =file.response.newFileName;
            },
            selectLawInfo:function () {
                var self=this;
                axios.post("/demo/lawperson/selectLawInfo")
                    .then(function (response) {
                        if(response.data==null){
                            self.showbutton=1;
                        }else{
                            self.showbutton=2;
                        }
                        self.form.lawPerson=response.data.law_person;
                        self.form.lawSex=response.data.law_sex;
                        self.form.lawAge=response.data.law_age;
                        self.form.lawTel=response.data.law_tel;
                        self.form.lawZj=response.data.law_zj;
                        self.form.houseAddress=response.data.house_address;
                        self.form.education=response.data.education;
                        self.form.lawSfzz=response.data.law_sfzz;
                        self.form.lawSfzf=response.data.law_sfzf;
                        if(self.form.lawSfzz!=null&&self.form.lawSfzz!=''){
                            self.lawSfzz1 = "http://localhost:8888/demo/apply/show?fileName="+response.data.law_sfzz;
                        }else {
                        }
                        if(self.form.lawSfzf!=null&&self.form.lawSfzf!=''){
                            self.lawSfzf1 = "http://localhost:8888/demo/apply/show?fileName="+response.data.law_sfzf;
                        }else {
                        }
                    });
            },
            updateLawInfo:function () {
                var self=this;
                //self.form.licenseUrl=self.form.licenseUrl1;
                axios.post("/demo/lawperson/updateLawInfo",this.form)
                    .then(function (response) {
                        if (response.data>0){
                            self.$message({
                                message:'恭喜你，操作成功！',
                                type:'success',
                            });
                        } else {
                            self.$message.error('错了哦，操作错误');
                        }
                    });
            }
        }
    });
</script>
</body>
</html>