<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心完善公司信息</title>
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: black;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            background-color: gainsboro;
            width: 240px;
            height: 180px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 240px;
            height: 180px;
            display: block;
        }
        #app{
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div id="app" style="width:700px;height: 100%">
    <el-container>
        <el-form  ref="form" :rules="rules" :model="form" :label-position="left" :inline="true" label-width="120px"  label-width="80px" size="medium">
            <el-title><h4 style="text-align: center">完善公司信息</h4></el-title>
            <el-row>
                    <el-form-item label="公司名称" prop="cpName">
                        <el-input v-model="form.cpName" :span="30"></el-input>
                    </el-form-item>
                    <el-form-item label="公司地址" prop="cpAddress">
                        <el-input v-model="form.cpAddress" :span="30"></el-input>
                    </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="公司电话" prop="cpTel">
                    <el-input v-model="form.cpTel" :span="30"></el-input>
                </el-form-item>
                <el-form-item label="营业执照编号" prop="cpCode">
                    <el-input v-model="form.cpCode" :span="30"></el-input>
                </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="公司账户1" prop="cpAccount1">
                    <el-input v-model="form.cpAccount1" :span="30"></el-input>
                </el-form-item>
                <el-form-item label="公司账户2" prop="cpAccount2">
                    <el-input v-model="form.cpAccount2" :span="30"></el-input>
                </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="公司邮箱" prop="cpEmail">
                    <el-input v-model="form.cpEmail" :span="30"></el-input>
                </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="营业执照" >
                    <el-upload
                            name="yyzz"
                            class="avatar-uploader"
                            action="/demo/cpInfo/uploadYyzz"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="licenseUrl1" :src="licenseUrl1" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
            </el-row>
            <div style="text-align: center">
                <el-form-item>
                    <el-button type="primary" @click="submitForm('form')">完善信息</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="updateForm('form')">确认修改</el-button>
                </el-form-item>
            </div>
        </el-form>
    </el-container>
</div>
<script>
    //验证电话
    var validateTel = (rule, value, callback) => {
        var reg= /0\d{2,3}-\d{7,8}/;
        if (value === '') {
            callback(new Error('公司电话不能为空,且为座机'));
        } else if (!reg.test(value)) {
            callback(new Error('请输入正确的座机电话'));
        } else {
            callback();
        }
    }
    //验证营业执照
    var cpCode = (rule, value, callback) => {
        var reg= /^[a-zA-Z0-9]{10,20}$/;
        if (value === '') {
            callback(new Error('营业执照编号不能为空'));
        } else if (!reg.test(value)) {
            callback(new Error('请输入正确的营业执照编号'));
        } else {
            callback();
        }
    }
    //验证银行卡,
    var cpAccount1 = (rule, value, callback) => {
        var reg= /^([1-9]{1})(\d{14}|\d{18})$/;
        if (value === '') {
            callback(new Error('银行卡号不能为空'));
        } else if (!reg.test(value)) {
            callback(new Error('请输入正确的银行卡号'));
        } else {
            callback();
        }
    };
    var cpAccount2 = (rule, value, callback) => {
        var reg= /^([1-9]{1})(\d{14}|\d{18})$/;
        if (value === '') {
            callback();
        } else if (!reg.test(value)) {
            callback(new Error('请输入正确的银行卡号'));
        } else {
            callback();
        }
    };
    //验证邮箱
    var cpEmail = (rule, value, callback) => {
        var reg=/^\w+([-+.]\w+)*@\w+([-.]\\w+)*\.\w+([-.]\w+)*$/;
        if (value === '') {
            callback(new Error('公司邮箱不能为空'));
        } else if (!reg.test(value)) {
            callback(new Error('请输入正确的邮箱'));
        } else {
            callback();
        }
    }
    var vue=new Vue( {
        el:"#app",
        data: {
            form: {
                userName:'',
                cpName: '',
                cpAddress: '',
                cpTel: '',
                cpCode:'',
                cpAccount1:'',
                cpAccount2:'',
                cpEmail:'',
                licenseName: '',
                licenseUrl: ''
            },
            rules:{
                cpName:[{
                    required: true,
                    message: '公司名称不能为空',
                    trigger: 'blur'
                }],
                cpAddress:[{
                    required: true,
                    message: '公司地址不能为空',
                    trigger: 'blur'
                }],
                cpTel:[{validator: validateTel, trigger: 'blur'}],
                cpCode:[{validator: cpCode, trigger: 'blur'}],
                cpAccount1:[{validator: cpAccount1, trigger: 'blur'}],
                cpAccount2:[{validator: cpAccount2, trigger: 'blur'}],
                cpEmail:[{validator: cpEmail, trigger: 'blur'}],
            },
            licenseUrl1:''
        },
        created:function(){
            this.getUserName();
            this.selectCpInfo();
        },
        methods: {
            //提交表单
            onSubmit:function() {
                var self=this;
                axios.post("/demo/cpInfo/cpInfo1",this.form)
                    .then(function (response) {
                        //添加成功
                        if(response.data>0){
                            self.$message({
                                message:'恭喜你，操作成功！',
                                type:'success',
                            });
                        }else{
                            //添加或者修改错误
                            self.$message.error('错了哦，操作错误');
                        }
                    });
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        //验证通过之后调用录入方法
                        this.onSubmit();
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            //获取当前登陆的用户名
            getUserName:function(){
                var self=this;
                axios.post("/demo/apply/getUserId")
                    .then(function (response) {
                       self.form.userName=response.data.username;
                    });
            },
            beforeAvatarUpload:function(file) {
                var isJPG = file.type === 'image/jpeg';
                var isLt2M = file.size / 1024 / 1024 < 2;
                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },
            handleAvatarSuccess:function(res, file) {
                //用来回显图片
                this.licenseUrl1= URL.createObjectURL(file.raw);
                //给表单对应字段赋值
                this.form.licenseName = file.response.originalFilename;
                this.form.licenseUrl =file.response.newFileName;
            },
            selectCpInfo:function () {
                var self=this;
                axios.post("/demo/cpInfo/selectCpInfo")
                    .then(function (response) {
                        self.form.cpName=response.data.cp_name;
                        self.form.cpAddress=response.data.cp_address;
                        self.form.cpTel=response.data.cp_tel;
                        self.form.cpCode=response.data.cp_code;
                        self.form.cpAccount1=response.data.cp_account1;
                        self.form.cpAccount2=response.data.cp_account2;
                        self.form.cpEmail=response.data.cp_email;
                        self.form.licenseUrl=response.data.license_url;
                        self.form.licenseName=response.data.license_name;
                        if(self.form.licenseUrl!=null&&self.form.licenseUrl!=''){
                            self.licenseUrl1 = "http://localhost:8888/demo/apply/show?fileName="+response.data.license_url;
                        }else {
                        }
                    });
            },
            updateCpInfo:function () {
                var self=this;
                self.form.licenseUrl=self.form.licenseUrl;
                axios.post("/demo/cpInfo/updateCpInfo",this.form)
                    .then(function (response) {
                       if (response.data>0){
                           self.$message({
                               message:'恭喜你，操作成功！',
                               type:'success',
                           });
                       } else {
                           self.$message.error('错了哦，操作错误');
                       }
                    });
            },
            updateForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        //验证通过之后调用录入方法
                        this.updateCpInfo();
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            }
        }
    });
</script>
</body>
</html>