<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.microcredit.dao.ApplyMapper">
  <resultMap id="BaseResultMap" type="com.aaa.microcredit.entity.Apply">
    <id column="Apply_Id" jdbcType="INTEGER" property="applyId" />
    <result column="User_id" jdbcType="INTEGER" property="userId" />
    <result column="Loan_type" jdbcType="INTEGER" property="loanType" />
    <result column="Loan_money" jdbcType="DECIMAL" property="loanMoney" />
    <result column="loan_deadline" jdbcType="INTEGER" property="loanDeadline" />
    <result column="Repayment_type" jdbcType="INTEGER" property="repaymentType" />
    <result column="Repayment_id" jdbcType="INTEGER" property="repaymentId" />
    <result column="bondsman_name" jdbcType="VARCHAR" property="bondsmanName" />
    <result column="bondsman_age" jdbcType="INTEGER" property="bondsmanAge" />
    <result column="bondsman_sex" jdbcType="VARCHAR" property="bondsmanSex" />
    <result column="bondsman_tel" jdbcType="VARCHAR" property="bondsmanTel" />
    <result column="bondsman_zj" jdbcType="VARCHAR" property="bondsmanZj" />
    <result column="bondsman_sfzz" jdbcType="VARCHAR" property="bondsmanSfzz" />
    <result column="bondsman_sfzf" jdbcType="VARCHAR" property="bondsmanSfzf" />
    <result column="bondsman_add" jdbcType="VARCHAR" property="bondsmanAdd" />
    <result column="income" jdbcType="VARCHAR" property="income" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="loan_status" jdbcType="INTEGER" property="loanStatus" />
    <result column="Loan_time" jdbcType="DATETIME" property="loanTime" />
    <result column="first_careful" jdbcType="VARCHAR" property="firstCareful" />
    <result column="first_time" jdbcType="DATETIME" property="firstTime" />
    <result column="two_careful" jdbcType="VARCHAR" property="twoCareful" />
    <result column="two_time" jdbcType="DATETIME" property="twoTime" />
    <result column="Reason" jdbcType="VARCHAR" property="reason" />
  </resultMap>
  <sql id="Base_Column_List">
    Apply_Id, User_id, Loan_type, Loan_money, loan_deadline, Repayment_type, Repayment_id, 
    bondsman_name, bondsman_age, bondsman_sex, bondsman_tel, bondsman_zj, bondsman_sfzz, 
    bondsman_sfzf, bondsman_add, income, describes, loan_status, Loan_time, first_careful, 
    first_time, two_careful, two_time, Reason
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from apply
    where Apply_Id = #{applyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apply
    where Apply_Id = #{applyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.microcredit.entity.Apply">
    insert into apply (Apply_Id, User_id, Loan_type, 
      Loan_money, loan_deadline, Repayment_type, 
      Repayment_id, bondsman_name, bondsman_age, 
      bondsman_sex, bondsman_tel, bondsman_zj, 
      bondsman_sfzz, bondsman_sfzf, bondsman_add, 
      income, describes, loan_status, 
      Loan_time, first_careful, first_time, 
      two_careful, two_time, Reason
      )
    values (#{applyId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{loanType,jdbcType=INTEGER}, 
      #{loanMoney,jdbcType=DECIMAL}, #{loanDeadline,jdbcType=INTEGER}, #{repaymentType,jdbcType=INTEGER}, 
      #{repaymentId,jdbcType=INTEGER}, #{bondsmanName,jdbcType=VARCHAR}, #{bondsmanAge,jdbcType=INTEGER}, 
      #{bondsmanSex,jdbcType=VARCHAR}, #{bondsmanTel,jdbcType=VARCHAR}, #{bondsmanZj,jdbcType=VARCHAR}, 
      #{bondsmanSfzz,jdbcType=VARCHAR}, #{bondsmanSfzf,jdbcType=VARCHAR}, #{bondsmanAdd,jdbcType=VARCHAR}, 
      #{income,jdbcType=VARCHAR}, #{describes,jdbcType=VARCHAR}, #{loanStatus,jdbcType=INTEGER}, 
      #{loanTime,jdbcType=DATE}, #{firstCareful,jdbcType=VARCHAR}, #{firstTime,jdbcType=DATE}, 
      #{twoCareful,jdbcType=VARCHAR}, #{twoTime,jdbcType=DATE}, #{reason,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.microcredit.entity.Apply">
    insert into apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applyId != null">
        Apply_Id,
      </if>
      <if test="userId != null">
        User_id,
      </if>
      <if test="loanType != null">
        Loan_type,
      </if>
      <if test="loanMoney != null">
        Loan_money,
      </if>
      <if test="loanDeadline != null">
        loan_deadline,
      </if>
      <if test="repaymentType != null">
        Repayment_type,
      </if>
      <if test="repaymentId != null">
        Repayment_id,
      </if>
      <if test="bondsmanName != null">
        bondsman_name,
      </if>
      <if test="bondsmanAge != null">
        bondsman_age,
      </if>
      <if test="bondsmanSex != null">
        bondsman_sex,
      </if>
      <if test="bondsmanTel != null">
        bondsman_tel,
      </if>
      <if test="bondsmanZj != null">
        bondsman_zj,
      </if>
      <if test="bondsmanSfzz != null">
        bondsman_sfzz,
      </if>
      <if test="bondsmanSfzf != null">
        bondsman_sfzf,
      </if>
      <if test="bondsmanAdd != null">
        bondsman_add,
      </if>
      <if test="income != null">
        income,
      </if>
      <if test="describes != null">
        describes,
      </if>
      <if test="loanStatus != null">
        loan_status,
      </if>
      <if test="loanTime != null">
        Loan_time,
      </if>
      <if test="firstCareful != null">
        first_careful,
      </if>
      <if test="firstTime != null">
        first_time,
      </if>
      <if test="twoCareful != null">
        two_careful,
      </if>
      <if test="twoTime != null">
        two_time,
      </if>
      <if test="reason != null">
        Reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applyId != null">
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="loanType != null">
        #{loanType,jdbcType=INTEGER},
      </if>
      <if test="loanMoney != null">
        #{loanMoney,jdbcType=DECIMAL},
      </if>
      <if test="loanDeadline != null">
        #{loanDeadline,jdbcType=INTEGER},
      </if>
      <if test="repaymentType != null">
        #{repaymentType,jdbcType=INTEGER},
      </if>
      <if test="repaymentId != null">
        #{repaymentId,jdbcType=INTEGER},
      </if>
      <if test="bondsmanName != null">
        #{bondsmanName,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanAge != null">
        #{bondsmanAge,jdbcType=INTEGER},
      </if>
      <if test="bondsmanSex != null">
        #{bondsmanSex,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanTel != null">
        #{bondsmanTel,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanZj != null">
        #{bondsmanZj,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanSfzz != null">
        #{bondsmanSfzz,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanSfzf != null">
        #{bondsmanSfzf,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanAdd != null">
        #{bondsmanAdd,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        #{income,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        #{describes,jdbcType=VARCHAR},
      </if>
      <if test="loanStatus != null">
        #{loanStatus,jdbcType=INTEGER},
      </if>
      <if test="loanTime != null">
        #{loanTime,jdbcType=DATE},
      </if>
      <if test="firstCareful != null">
        #{firstCareful,jdbcType=VARCHAR},
      </if>
      <if test="firstTime != null">
        #{firstTime,jdbcType=DATE},
      </if>
      <if test="twoCareful != null">
        #{twoCareful,jdbcType=VARCHAR},
      </if>
      <if test="twoTime != null">
        #{twoTime,jdbcType=DATE},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.microcredit.entity.Apply">
    update apply
    <set>
      <if test="userId != null">
        User_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="loanType != null">
        Loan_type = #{loanType,jdbcType=INTEGER},
      </if>
      <if test="loanMoney != null">
        Loan_money = #{loanMoney,jdbcType=DECIMAL},
      </if>
      <if test="loanDeadline != null">
        loan_deadline = #{loanDeadline,jdbcType=INTEGER},
      </if>
      <if test="repaymentType != null">
        Repayment_type = #{repaymentType,jdbcType=INTEGER},
      </if>
      <if test="repaymentId != null">
        Repayment_id = #{repaymentId,jdbcType=INTEGER},
      </if>
      <if test="bondsmanName != null">
        bondsman_name = #{bondsmanName,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanAge != null">
        bondsman_age = #{bondsmanAge,jdbcType=INTEGER},
      </if>
      <if test="bondsmanSex != null">
        bondsman_sex = #{bondsmanSex,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanTel != null">
        bondsman_tel = #{bondsmanTel,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanZj != null">
        bondsman_zj = #{bondsmanZj,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanSfzz != null">
        bondsman_sfzz = #{bondsmanSfzz,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanSfzf != null">
        bondsman_sfzf = #{bondsmanSfzf,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanAdd != null">
        bondsman_add = #{bondsmanAdd,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        income = #{income,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        describes = #{describes,jdbcType=VARCHAR},
      </if>
      <if test="loanStatus != null">
        loan_status = #{loanStatus,jdbcType=INTEGER},
      </if>
      <if test="loanTime != null">
        Loan_time = #{loanTime,jdbcType=DATE},
      </if>
      <if test="firstCareful != null">
        first_careful = #{firstCareful,jdbcType=VARCHAR},
      </if>
      <if test="firstTime != null">
        first_time = #{firstTime,jdbcType=DATE},
      </if>
      <if test="twoCareful != null">
        two_careful = #{twoCareful,jdbcType=VARCHAR},
      </if>
      <if test="twoTime != null">
        two_time = #{twoTime,jdbcType=DATE},
      </if>
      <if test="reason != null">
        Reason = #{reason,jdbcType=VARCHAR},
      </if>
    </set>
    where Apply_Id = #{applyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.microcredit.entity.Apply">
    update apply
    set User_id = #{userId,jdbcType=INTEGER},
      Loan_type = #{loanType,jdbcType=INTEGER},
      Loan_money = #{loanMoney,jdbcType=DECIMAL},
      loan_deadline = #{loanDeadline,jdbcType=INTEGER},
      Repayment_type = #{repaymentType,jdbcType=INTEGER},
      Repayment_id = #{repaymentId,jdbcType=INTEGER},
      bondsman_name = #{bondsmanName,jdbcType=VARCHAR},
      bondsman_age = #{bondsmanAge,jdbcType=INTEGER},
      bondsman_sex = #{bondsmanSex,jdbcType=VARCHAR},
      bondsman_tel = #{bondsmanTel,jdbcType=VARCHAR},
      bondsman_zj = #{bondsmanZj,jdbcType=VARCHAR},
      bondsman_sfzz = #{bondsmanSfzz,jdbcType=VARCHAR},
      bondsman_sfzf = #{bondsmanSfzf,jdbcType=VARCHAR},
      bondsman_add = #{bondsmanAdd,jdbcType=VARCHAR},
      income = #{income,jdbcType=VARCHAR},
      describes = #{describes,jdbcType=VARCHAR},
      loan_status = #{loanStatus,jdbcType=INTEGER},
      Loan_time = #{loanTime,jdbcType=DATE},
      first_careful = #{firstCareful,jdbcType=VARCHAR},
      first_time = #{firstTime,jdbcType=DATE},
      two_careful = #{twoCareful,jdbcType=VARCHAR},
      two_time = #{twoTime,jdbcType=DATE},
      Reason = #{reason,jdbcType=VARCHAR}
    where Apply_Id = #{applyId,jdbcType=INTEGER}
  </update>
</mapper>