<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.microcredit.dao.ApplyMapper">
  <resultMap id="BaseResultMap" type="com.aaa.microcredit.entity.Apply">
    <id column="Apply_Id" jdbcType="INTEGER" property="applyId" />
    <result column="User_id" jdbcType="INTEGER" property="userId" />
    <result column="Repayment_id" jdbcType="INTEGER" property="repaymentId" />
    <result column="Loan_type" jdbcType="INTEGER" property="loanType" />
    <result column="bondsman_name" jdbcType="VARCHAR" property="bondsmanName" />
    <result column="loan_status" jdbcType="INTEGER" property="loanStatus" />
    <result column="Loan_money" jdbcType="DOUBLE" property="loanMoney" />
    <result column="loan_deadline" jdbcType="VARCHAR" property="loanDeadline" />
    <result column="Loan_time" jdbcType="DATE" property="loanTime" />
    <result column="first_careful" jdbcType="VARCHAR" property="firstCareful" />
    <result column="two_careful" jdbcType="VARCHAR" property="twoCareful" />
    <result column="Reason" jdbcType="VARCHAR" property="reason" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
  </resultMap>
  <sql id="Base_Column_List">
    Apply_Id, User_id, Repayment_id, Loan_type, bondsman_name, loan_status, Loan_money, 
    loan_deadline, Loan_time, first_careful, two_careful, Reason, describes
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from apply
    where Apply_Id = #{applyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apply
    where Apply_Id = #{applyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.microcredit.entity.Apply">
    insert into apply (Apply_Id, User_id, Repayment_id, 
      Loan_type, bondsman_name, loan_status, 
      Loan_money, loan_deadline, Loan_time, 
      first_careful, two_careful, Reason, 
      describe)
    values (#{applyId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{repaymentId,jdbcType=INTEGER}, 
      #{loanType,jdbcType=INTEGER}, #{bondsmanName,jdbcType=VARCHAR}, #{loanStatus,jdbcType=INTEGER}, 
      #{loanMoney,jdbcType=DOUBLE}, #{loanDeadline,jdbcType=VARCHAR}, #{loanTime,jdbcType=DATE}, 
      #{firstCareful,jdbcType=VARCHAR}, #{twoCareful,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.microcredit.entity.Apply">
    insert into apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applyId != null">
        Apply_Id,
      </if>
      <if test="userId != null">
        User_id,
      </if>
      <if test="repaymentId != null">
        Repayment_id,
      </if>
      <if test="loanType != null">
        Loan_type,
      </if>
      <if test="bondsmanName != null">
        bondsman_name,
      </if>
      <if test="loanStatus != null">
        loan_status,
      </if>
      <if test="loanMoney != null">
        Loan_money,
      </if>
      <if test="loanDeadline != null">
        loan_deadline,
      </if>
      <if test="loanTime != null">
        Loan_time,
      </if>
      <if test="firstCareful != null">
        first_careful,
      </if>
      <if test="twoCareful != null">
        two_careful,
      </if>
      <if test="reason != null">
        Reason,
      </if>
      <if test="describe != null">
        describe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applyId != null">
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="repaymentId != null">
        #{repaymentId,jdbcType=INTEGER},
      </if>
      <if test="loanType != null">
        #{loanType,jdbcType=INTEGER},
      </if>
      <if test="bondsmanName != null">
        #{bondsmanName,jdbcType=VARCHAR},
      </if>
      <if test="loanStatus != null">
        #{loanStatus,jdbcType=INTEGER},
      </if>
      <if test="loanMoney != null">
        #{loanMoney,jdbcType=DOUBLE},
      </if>
      <if test="loanDeadline != null">
        #{loanDeadline,jdbcType=VARCHAR},
      </if>
      <if test="loanTime != null">
        #{loanTime,jdbcType=DATE},
      </if>
      <if test="firstCareful != null">
        #{firstCareful,jdbcType=VARCHAR},
      </if>
      <if test="twoCareful != null">
        #{twoCareful,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.microcredit.entity.Apply">
    update apply
    <set>
      <if test="userId != null">
        User_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="repaymentId != null">
        Repayment_id = #{repaymentId,jdbcType=INTEGER},
      </if>
      <if test="loanType != null">
        Loan_type = #{loanType,jdbcType=INTEGER},
      </if>
      <if test="bondsmanName != null">
        bondsman_name = #{bondsmanName,jdbcType=VARCHAR},
      </if>
      <if test="loanStatus != null">
        loan_status = #{loanStatus,jdbcType=INTEGER},
      </if>
      <if test="loanMoney != null">
        Loan_money = #{loanMoney,jdbcType=DOUBLE},
      </if>
      <if test="loanDeadline != null">
        loan_deadline = #{loanDeadline,jdbcType=VARCHAR},
      </if>
      <if test="loanTime != null">
        Loan_time = #{loanTime,jdbcType=DATE},
      </if>
      <if test="firstCareful != null">
        first_careful = #{firstCareful,jdbcType=VARCHAR},
      </if>
      <if test="twoCareful != null">
        two_careful = #{twoCareful,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        Reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        describe = #{describe,jdbcType=VARCHAR},
      </if>
    </set>
    where Apply_Id = #{applyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.microcredit.entity.Apply">
    update apply
    set User_id = #{userId,jdbcType=INTEGER},
      Repayment_id = #{repaymentId,jdbcType=INTEGER},
      Loan_type = #{loanType,jdbcType=INTEGER},
      bondsman_name = #{bondsmanName,jdbcType=VARCHAR},
      loan_status = #{loanStatus,jdbcType=INTEGER},
      Loan_money = #{loanMoney,jdbcType=DOUBLE},
      loan_deadline = #{loanDeadline,jdbcType=VARCHAR},
      Loan_time = #{loanTime,jdbcType=DATE},
      first_careful = #{firstCareful,jdbcType=VARCHAR},
      two_careful = #{twoCareful,jdbcType=VARCHAR},
      Reason = #{reason,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR}
    where Apply_Id = #{applyId,jdbcType=INTEGER}
  </update>
</mapper>