<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.microcredit.dao.ApplyMapper">
  <resultMap id="BaseResultMap" type="com.aaa.microcredit.entity.Apply">
    <id column="Apply_Id" jdbcType="INTEGER" property="applyId" />
    <result column="User_id" jdbcType="INTEGER" property="userId" />
    <result column="Loan_type" jdbcType="INTEGER" property="loanType" />
    <result column="Loan_money" jdbcType="DECIMAL" property="loanMoney" />
    <result column="loan_deadline" jdbcType="INTEGER" property="loanDeadline" />
    <result column="Repayment_type" jdbcType="INTEGER" property="repaymentType" />
    <result column="Repayment_id" jdbcType="INTEGER" property="repaymentId" />
    <result column="bondsman_name" jdbcType="VARCHAR" property="bondsmanName" />
    <result column="bondsman_age" jdbcType="INTEGER" property="bondsmanAge" />
    <result column="bondsman_sex" jdbcType="VARCHAR" property="bondsmanSex" />
    <result column="bondsman_tel" jdbcType="VARCHAR" property="bondsmanTel" />
    <result column="bondsman_zj" jdbcType="VARCHAR" property="bondsmanZj" />
    <result column="bondsman_sfzz" jdbcType="VARCHAR" property="bondsmanSfzz" />
    <result column="bondsman_sfzf" jdbcType="VARCHAR" property="bondsmanSfzf" />
    <result column="bondsman_add" jdbcType="VARCHAR" property="bondsmanAdd" />
    <result column="income" jdbcType="VARCHAR" property="income" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="loan_status" jdbcType="INTEGER" property="loanStatus" />
    <result column="Loan_time" jdbcType="TIMESTAMP" property="loanTime" />
    <result column="first_careful" jdbcType="VARCHAR" property="firstCareful" />
    <result column="first_time" jdbcType="TIMESTAMP" property="firstTime" />
    <result column="two_careful" jdbcType="VARCHAR" property="twoCareful" />
    <result column="two_time" jdbcType="TIMESTAMP" property="twoTime" />
    <result column="Reason" jdbcType="VARCHAR" property="reason" />
  </resultMap>
  <sql id="Base_Column_List">
    Apply_Id, User_id, Loan_type, Loan_money, loan_deadline, Repayment_type, Repayment_id,
    bondsman_name, bondsman_age, bondsman_sex, bondsman_tel, bondsman_zj, bondsman_sfzz,
    bondsman_sfzf, bondsman_add, income, describes, loan_status, Loan_time, first_careful,
    first_time, two_careful, two_time, Reason
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from apply
    where Apply_Id = #{applyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apply
    where Apply_Id = #{applyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.microcredit.entity.Apply">
    insert into apply (Apply_Id, User_id, Loan_type, 
      Loan_money, loan_deadline, Repayment_type,
      Repayment_id, bondsman_name, bondsman_age,
      bondsman_sex, bondsman_tel, bondsman_zj,
      bondsman_sfzz, bondsman_sfzf, bondsman_add,
      income, describes, loan_status,
      Loan_time, first_careful, first_time,
      two_careful, two_time, Reason
      )
    values (#{applyId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{loanType,jdbcType=INTEGER}, 
      #{loanMoney,jdbcType=DECIMAL}, #{loanDeadline,jdbcType=INTEGER}, #{repaymentType,jdbcType=INTEGER},
      #{repaymentId,jdbcType=INTEGER}, #{bondsmanName,jdbcType=VARCHAR}, #{bondsmanAge,jdbcType=INTEGER},
      #{bondsmanSex,jdbcType=VARCHAR}, #{bondsmanTel,jdbcType=VARCHAR}, #{bondsmanZj,jdbcType=VARCHAR},
      #{bondsmanSfzz,jdbcType=VARCHAR}, #{bondsmanSfzf,jdbcType=VARCHAR}, #{bondsmanAdd,jdbcType=VARCHAR},
      #{income,jdbcType=VARCHAR}, #{describes,jdbcType=VARCHAR}, #{loanStatus,jdbcType=INTEGER},
      #{loanTime,jdbcType=TIMESTAMP}, #{firstCareful,jdbcType=VARCHAR}, #{firstTime,jdbcType=TIMESTAMP},
      #{twoCareful,jdbcType=VARCHAR}, #{twoTime,jdbcType=TIMESTAMP}, #{reason,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.microcredit.entity.Apply">
    insert into apply

    <trim prefix="(" suffix=")" suffixOverrides=",">
       Loan_time,
      <if test="applyId != null">
        Apply_Id,
      </if>
      <if test="userId != null">
        User_id,
      </if>
      <if test="loanType != null">
        Loan_type,
      </if>
      <if test="loanMoney != null">
        Loan_money,
      </if>
      <if test="loanDeadline != null">
        loan_deadline,
      </if>
      <if test="repaymentType != null">
        Repayment_type,
      </if>
      <if test="repaymentId != null">
        Repayment_id,
      </if>
      <if test="bondsmanName != null">
        bondsman_name,
      </if>
      <if test="bondsmanAge != null">
        bondsman_age,
      </if>
      <if test="bondsmanSex != null">
        bondsman_sex,
      </if>
      <if test="bondsmanTel != null">
        bondsman_tel,
      </if>
      <if test="bondsmanZj != null">
        bondsman_zj,
      </if>
      <if test="bondsmanSfzz != null">
        bondsman_sfzz,
      </if>
      <if test="bondsmanSfzf != null">
        bondsman_sfzf,
      </if>
      <if test="bondsmanAdd != null">
        bondsman_add,
      </if>
      <if test="income != null">
        income,
      </if>
      <if test="describes != null">
        describes,
      </if>
      <if test="loanStatus != null">
        loan_status,
      </if>
      <if test="firstCareful != null">
        first_careful,
      </if>
      <if test="firstTime != null">
        first_time,
      </if>
      <if test="twoCareful != null">
        two_careful,
      </if>
      <if test="twoTime != null">
        two_time,
      </if>
      <if test="reason != null">
        Reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        now(),
      <if test="applyId != null">
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="loanType != null">
        #{loanType,jdbcType=INTEGER},
      </if>
      <if test="loanMoney != null">
        #{loanMoney,jdbcType=DECIMAL},
      </if>
      <if test="loanDeadline != null">
        #{loanDeadline,jdbcType=INTEGER},
      </if>
      <if test="repaymentType != null">
        #{repaymentType,jdbcType=INTEGER},
      </if>
      <if test="repaymentId != null">
        #{repaymentId,jdbcType=INTEGER},
      </if>
      <if test="bondsmanName != null">
        #{bondsmanName,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanAge != null">
        #{bondsmanAge,jdbcType=INTEGER},
      </if>
      <if test="bondsmanSex != null">
        #{bondsmanSex,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanTel != null">
        #{bondsmanTel,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanZj != null">
        #{bondsmanZj,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanSfzz != null">
        #{bondsmanSfzz,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanSfzf != null">
        #{bondsmanSfzf,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanAdd != null">
        #{bondsmanAdd,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        #{income,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        #{describes,jdbcType=VARCHAR},
      </if>
      <if test="loanStatus != null">
        #{loanStatus,jdbcType=INTEGER},
      </if>
      <if test="firstCareful != null">
        #{firstCareful,jdbcType=VARCHAR},
      </if>
      <if test="firstTime != null">
        #{firstTime,jdbcType=TIMESTAMP},
      </if>
      <if test="twoCareful != null">
        #{twoCareful,jdbcType=VARCHAR},
      </if>
      <if test="twoTime != null">
        #{twoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.microcredit.entity.Apply">
    update apply
    <set>
      <if test="userId != null">
        User_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="loanType != null">
        Loan_type = #{loanType,jdbcType=INTEGER},
      </if>
      <if test="loanMoney != null">
        Loan_money = #{loanMoney,jdbcType=DECIMAL},
      </if>
      <if test="loanDeadline != null">
        loan_deadline = #{loanDeadline,jdbcType=INTEGER},
      </if>
      <if test="repaymentType != null">
        Repayment_type = #{repaymentType,jdbcType=INTEGER},
      </if>
      <if test="repaymentId != null">
        Repayment_id = #{repaymentId,jdbcType=INTEGER},
      </if>
      <if test="bondsmanName != null">
        bondsman_name = #{bondsmanName,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanAge != null">
        bondsman_age = #{bondsmanAge,jdbcType=INTEGER},
      </if>
      <if test="bondsmanSex != null">
        bondsman_sex = #{bondsmanSex,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanTel != null">
        bondsman_tel = #{bondsmanTel,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanZj != null">
        bondsman_zj = #{bondsmanZj,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanSfzz != null">
        bondsman_sfzz = #{bondsmanSfzz,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanSfzf != null">
        bondsman_sfzf = #{bondsmanSfzf,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanAdd != null">
        bondsman_add = #{bondsmanAdd,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        income = #{income,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        describes = #{describes,jdbcType=VARCHAR},
      </if>
      <if test="loanStatus != null">
        loan_status = #{loanStatus,jdbcType=INTEGER},
      </if>
      <if test="loanTime != null">
        Loan_time = #{loanTime,jdbcType=TIMESTAMP},
      </if>
      <if test="firstCareful != null">
        first_careful = #{firstCareful,jdbcType=VARCHAR},
      </if>
      <if test="firstTime != null">
        first_time = #{firstTime,jdbcType=TIMESTAMP},
      </if>
      <if test="twoCareful != null">
        two_careful = #{twoCareful,jdbcType=VARCHAR},
      </if>
      <if test="twoTime != null">
        two_time = #{twoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null">
        Reason = #{reason,jdbcType=VARCHAR},
      </if>
    </set>
    where Apply_Id = #{applyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.microcredit.entity.Apply">
    update apply
    set User_id = #{userId,jdbcType=INTEGER},
      Loan_type = #{loanType,jdbcType=INTEGER},
      Loan_money = #{loanMoney,jdbcType=DECIMAL},
      loan_deadline = #{loanDeadline,jdbcType=INTEGER},
      Repayment_type = #{repaymentType,jdbcType=INTEGER},
      Repayment_id = #{repaymentId,jdbcType=INTEGER},
      bondsman_name = #{bondsmanName,jdbcType=VARCHAR},
      bondsman_age = #{bondsmanAge,jdbcType=INTEGER},
      bondsman_sex = #{bondsmanSex,jdbcType=VARCHAR},
      bondsman_tel = #{bondsmanTel,jdbcType=VARCHAR},
      bondsman_zj = #{bondsmanZj,jdbcType=VARCHAR},
      bondsman_sfzz = #{bondsmanSfzz,jdbcType=VARCHAR},
      bondsman_sfzf = #{bondsmanSfzf,jdbcType=VARCHAR},
      bondsman_add = #{bondsmanAdd,jdbcType=VARCHAR},
      income = #{income,jdbcType=VARCHAR},
      describes = #{describes,jdbcType=VARCHAR},
      loan_status = #{loanStatus,jdbcType=INTEGER},
      Loan_time = #{loanTime,jdbcType=TIMESTAMP},
      first_careful = #{firstCareful,jdbcType=VARCHAR},
      first_time = #{firstTime,jdbcType=TIMESTAMP},
      two_careful = #{twoCareful,jdbcType=VARCHAR},
      two_time = #{twoTime,jdbcType=TIMESTAMP},
      Reason = #{reason,jdbcType=VARCHAR}
    where Apply_Id = #{applyId,jdbcType=INTEGER}
  </update>
   <!--查询全部-->
  <select id="selectApplyAll" resultType="map">
SELECT ndbb_url ndbbUrl,gszc_url gszcUrl,jycdht_url jycdhtUrl,khxk_url khxkUrl,swdj_url swdjUrl,yzbj_url yzbjUrl,zzjgdm_url zzjgdmUrl,
law_person lawPerson,law_sex lawSex,law_age lawAge,law_tel lawTel ,law_zj lawZj ,house_address lawAddress ,education education ,law_sfzz lawSfzz,law_sfzf lawSfzf,d4.dictionary_name lawStatus,
cp_name cpName,cp_code cpCode,cp_address cpAddress,cp_tel cpTel,cp_account1 cpAccount1,cp_account2 cpAccount2,cp_email cpEmail,license_url licenseUrl,
a.Apply_Id applyId , a.loan_money loanMoney,a.loan_deadline loanDeadline ,d.dictionary_name loanType,d1.dictionary_name repaymentType,d2.dictionary_name repaymentId,
bondsman_name bondsmanName,bondsman_age bondsmanAge,bondsman_sex bondsmanSex,bondsman_tel bondsmanTel,bondsman_zj bondsmanZj,bondsman_add bondsmanAdd,bondsman_sfzz bondsmanSfzz,
bondsman_sfzf bondsmanSfzf,income income,a.describes applyDes,a.loan_time applyTime,d3.dictionary_name loanType
from apply a,dictionary d, dictionary d1, dictionary d2 , dictionary d3, dictionary d4,cp_info cp,login,law_person law,photo p
WHERE( a.loan_type=d.dictionary_value and d.keyword='loan_type')
and ( a.repayment_type=d1.dictionary_value and d1.keyword='repayment_type')
and ( a.repayment_id=d2.dictionary_value and d2.keyword='Repayment')
and ( a.loan_status=d3.dictionary_value and d3.keyword='loan_status')
and ( law.status=d4.dictionary_value and d4.keyword='law_status')
and (cp.username=login.username and login.id=a.user_id)
 and (cp.username=law.username) and(a.apply_id=p.apply_id  )and a.apply_id=#{applyId}
 </select>

  <select id="selectByApplyId" resultType="Map">
    SELECT c.*,d.dictionary_name repaymentType1
from(
SELECT b.*,d.dictionary_name repaymentId1
from (
SELECT a.Apply_Id ApplyId,a.User_id UserId,a.Loan_type loanType,a.Loan_money loanMoney,
a.loan_deadline loanDeadline,a.Repayment_type,a.Repayment_id,a.bondsman_name bondsmanName,
a.bondsman_age bondsmanAge,a.bondsman_sex bondsmanSex,a.bondsman_tel bondsmanTel,a.bondsman_zj bondsmanZj,
a.bondsman_sfzz bondsmanSfzz,a.bondsman_sfzf bondsmanSfzf,a.bondsman_add bondsmanAdd,
a.income,a.describes,a.Loan_time applyTime,a.loan_status loanStatus,d.dictionary_name loanType1
from apply a join dictionary d on d.dictionary_value=a.Loan_type where keyword='loan_type'
) b join dictionary d on d.dictionary_value=b.Repayment_id where keyword='Repayment'
) c join dictionary d on d.dictionary_value=c.repayment_type where keyword='repayment_type' and
   ApplyId=#{applyId}

  </select>

  <select id="selectByUserId" resultType="Map">
    SELECT e.*,d.dictionary_name loanStatus1
from (
SELECT c.*,d.dictionary_name repaymentType1
from(
SELECT b.*,d.dictionary_name repaymentId1
from (
SELECT a.Apply_Id ApplyId,a.User_id UserId,a.Loan_type loanType,a.Loan_money loanMoney,
a.loan_deadline loanDeadline,a.Repayment_type,a.Repayment_id,a.bondsman_name bondsmanName,
a.bondsman_age bondsmanAge,a.bondsman_sex bondsmanSex,a.bondsman_tel bondsmanTel,a.bondsman_zj bondsmanZj,
a.bondsman_sfzz bondsmanSfzz,a.bondsman_sfzf bondsmanSfzf,a.bondsman_add bondsmanAdd,
a.income,a.describes,date_format(a.Loan_time,'%Y-%m-%d %H:%i:%s') applyTime,a.loan_status loanStatus,d.dictionary_name loanType1
from apply a join dictionary d on d.dictionary_value=a.Loan_type where keyword='loan_type'
) b join dictionary d on d.dictionary_value=b.Repayment_id where keyword='Repayment'
) c join dictionary d on d.dictionary_value=c.repayment_type where keyword='repayment_type'
) e JOIN dictionary d on d.dictionary_value=e.loanStatus where keyword='loan_status' and UserId=#{userId}
  </select>


  <!--查询出为审核的申请信息-->
<select id="selectApply" resultType="map" >
    select  Apply_Id applyId,d.dictionary_name loanStatus,d1.dictionary_name loanType ,d2.dictionary_name repaymentType,d3.dictionary_name repaymentId,
  cp.cp_name cpName,a.loan_money loanMoney,a.bondsman_name bondsmanName,law.law_person lawName,date_format(a.loan_time,'%Y-%m-%d %H:%i:%s') loanTime
  from apply a , dictionary d ,dictionary d1 ,dictionary d2 , dictionary d3,cp_info cp,login,law_person law
  WHERE ( a.loan_status=d.dictionary_value and d.keyword='loan_status')
  and (a.Loan_type=d1.dictionary_value and d1.keyword='loan_type')
  and (a.Repayment_type=d2.dictionary_value and d2.keyword='repayment_type')
  and (a.Repayment_id=d3.dictionary_value and d3.keyword='repayment')
  and (a.user_id=login.id and cp.username=login.username)
  and (cp.username=law.username)and a.loan_status=#{loanStatus}
  -- 根据公司名称查询
  <if test="cpName!=null and cpName!=''">
    and cp.cp_name like concat('%',#{cpName},'%')
  </if>
  --   贷款类型 房贷 抵押
  <if test="loanType!=null and loanType!=''">
    and a.loan_type=#{loanType}
  </if>
  --     还款类型 等额本金  等额本息
  <if test="rType!=null and rType!=''">
    and a.Repayment_type=#{rType}
  </if>
  <if test="RepaymentId!=null and RepaymentId!=''">
    and a.Repayment_id=#{RepaymentId}
  </if>
   limit ${start},${pageSize}

</select>

  <select id="selectApplyCount" resultType="Integer" >
    select count(*)   from apply a , dictionary d ,dictionary d1 ,dictionary d2 , dictionary d3,cp_info cp,login,law_person law
    WHERE ( a.loan_status=d.dictionary_value and d.keyword='loan_status')
    and (a.Loan_type=d1.dictionary_value and d1.keyword='loan_type')
    and (a.Repayment_type=d2.dictionary_value and d2.keyword='repayment_type')
    and (a.Repayment_id=d3.dictionary_value and d3.keyword='repayment')
    and (a.user_id=login.id and cp.username=login.username)
    and (cp.username=law.username)and a.loan_status=#{loanStatus}
    -- 根据公司名称查询
    <if test="cpName!=null and cpName!=''">
      and cp.cp_name like concat('%',#{cpName},'%')
    </if>
    --   贷款类型 房贷 抵押
    <if test="loanType!=null and loanType!=''">
      and a.loan_type=#{loanType}
    </if>
    --     还款类型 等额本金  等额本息
    <if test="rType!=null and rType!=''">
      and a.Repayment_type=#{rType}
    </if>
    <if test="RepaymentId!=null and RepaymentId!=''">
      and a.Repayment_id=#{RepaymentId}
    </if>

  </select>
  <!--修改申请表中的贷款状态-->
  <update id="updateApplyStatus" parameterType="map">
    UPDATE  apply set loan_status=#{loanStatus}, ${careful}=#{person}, ${time}=#{newTime} where Apply_Id=#{applyId}
  </update>
  <!--  申请被驳回，修改申请表中状态并填写驳回理由-->
  <update id="updateReason">
    update apply set loan_status=#{loanStatus},Reason=#{desc} where apply_id=#{applyId}
  </update>
</mapper>