<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.microcredit.dao.CliMoneyMapper">
    <resultMap id="BaseResultMap" type="com.aaa.microcredit.entity.Climoney">
        <id column="c_id" jdbcType="INTEGER" property="cId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="c_Moneytype" jdbcType="INTEGER" property="cMoneyType" />
        <result column="c_changemoney" jdbcType="DECIMAL" property="cChangeMoney" />
        <result column="c_changetime" jdbcType="TIMESTAMP" property="cChangeTime" />
        <result column="c_availmoney" jdbcType="DECIMAL" property="cAvailMoney" />
        <result column="c_describes" jdbcType="VARCHAR" property="cDescribes" />
    </resultMap>

<select id="query" resultType="Map">
    select c_changemoney,date_format(c_changetime,'%Y-%m-%d %H:%i:%s') changetime  ,c_availmoney,c_describes from client_money
    <where>
        <if test="userId!=null and userId!=''">
            and (user_id like "%"#{userId}"%")
        </if>
        <if test="date!=null and date!=''">
            and c_changetime like "%"#{date}"%"
        </if>
    </where> limit ${start},${pageSize}
</select>
<select id="queryPageCount" resultType="int">
    select count(*)
    from client_money
    <where>
        <if test="userId!=null and userId!=''">
            and (user_id like "%"#{userId}"%")
        </if>
    </where>
</select>
</mapper>