<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.microcredit.dao.PowerDao">
  <resultMap id="BaseResultMap" type="com.aaa.microcredit.entity.TreeNode">
    <id column="menuid" jdbcType="INTEGER" property="menuid" />
    <result column="name" jdbcType="VARCHAR" property="label" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="add_username" jdbcType="VARCHAR" property="addUserName" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>



  <sql id="Base_Column_List">
    menuid, name, parentid, url, add_username, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_menu
    where menuid = #{menuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from m_menu
    where menuid = #{menuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.microcredit.entity.TreeNode">
    insert into m_menu (menuid, name, parentid,
      url, add_username, add_time
      )
    values (#{menuid,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER},
      #{url,jdbcType=VARCHAR}, #{addUserName,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.microcredit.entity.TreeNode">
    insert into m_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuid != null">
        menuid,
      </if>
      <if test="label != null">
        name,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="addUserName != null">
        add_username,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuid != null">
        #{menuid,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="addUserName != null">
        #{addUserName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.microcredit.entity.TreeNode">
    update m_menu
    <set>
      <if test="label != null">
        name = #{label,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="addUserName != null">
        add_username = #{addUserName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where menuid = #{menuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.microcredit.entity.TreeNode">
    update m_menu
    set name = #{label,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      add_username = #{addUserName,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where menuid = #{menuid,jdbcType=INTEGER}
  </update>
  <select id="queryAll" resultType="map">
        select  mm.menuid,mm.`name`,mm.parentid,mm.url,mm.add_username,date_format(mm.add_time,'%Y-%m-%d %H:%i:%s') addTime  from m_menu mm
  </select>
</mapper>